* {
  box-sizing: border-box;
}

body {
  color: #8f8f8f;
  background: white;
  font-family: "Roboto", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.logo {
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 0px;
  padding-left: 50px;
  width: 70px;
}

.row {
  width: 100%;  
  margin: 0 auto;
  position: relative;
}

.main_header .row .content {
  padding: 0;
  height: 50px;
  line-height: 1;
  margin-right: 50px;
}

.main_header {
  position: fixed;
  top: 0px;
  max-height: 100px;
  z-index: 999;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background: none;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 766px) {
  .main_header {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid silver;
}

#home {
  background-color: #fbfbfb;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 300px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

#home img{
  display: block;
  margin-right: auto;
  margin-left: auto;
}


.line{
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

#sec02 p{
  font-family: 'Nanum Gothic', sans-serif;
  color: #333435;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 17px;
}

#sec02 .content{
  padding-top: 50px;
  padding-bottom: 0px;
}

#sec03{
  margin-top: 100px;
}

#sec03 .content{
  width: 70%;
  padding-right: 0;
  padding-left: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer{
  font-size: 10px;
  color: #999999;
  text-align: center;
  line-height: 16px;
  margin-top: 100px;
  margin-bottom: 60px;
}

@media(max-width: 766px){
    .line{
      height: 120px;
    }
    #sec02 .content{
      padding-top: 0;
    }
    #sec02 p{
      font-size: 12px;
      width: 400px;
      margin-top: 40px;
      margin-right: auto;
      margin-left: auto;
    }
    #sec03{
      margin-top: 50px;
    }
    #sec03 .content{
      width: 90%;
    }
    .footer{
      font-size: 9px;
      line-height: 14px;
    }
}

@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    /*margin-bottom: 22px;*/
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: all 500ms linear;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 30px;
  top: 0;
  width: 35px;
  transition: all 200ms ease-in;
  line-height: 1;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 35px;
  height: 4px;
  margin-top: 9px;
  margin-bottom: 9px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}